@import "tailwindcss";
@import "@nuxt/ui";

html,
body,
#__nuxt,
button,
input,
select,
textarea {
  /* font-family: "Kumbh Sans", sans-serif; */
  font-family: "Outfit", sans-serif;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
a[role="button"] {
  cursor: pointer;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  cursor: not-allowed;
}
